li{
    list-style-type: none;
    .nav-link{
        text-decoration: none;
        color: #848484;
    }
    
}

.memberlink{
    &:hover{
        display: block;
        border-bottom: 2px solid $primary;
        transition-duration: 0.3s;
    }
}

.active a{
    color: #848484;
    border-bottom: 2px solid $primary;
    text-decoration: none;
}

.blacktext{
    color: black;
}

.small_text{
    color: #A5A5A5;
}

