@mixin text_to_image($image-url, $image-width: auto, $image-height: auto, $background-size:cover) {
    background-image: url($image-url);
    background-position: center center;
    background-repeat: no-repeat;
    width: $image-width;
    height: $image-height;
    background-size: $background-size;
}

@mixin hide-text {
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-size: contain;
}


@mixin pad {
    @media(max-width: 767px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: 374px) {
        @content;
    }
}

