// logo
$logo_url: "../img/d’Perfume.png";
$logo-width: 128px !default;
$logo-height: 38px !default;
$logoW_url: "../img/d’Perfumew.png";

// banner
$banner_url: "../img/banner.png";
$banner_height: 870px !default;

// sold_out
$sub_url: "../img/sub.png";

// color
$primary: #916000;
$black: #000;
$headrNavBar: #8D8D8D;
$navbar: #707070;
$gray1: #acb2b8;