// logo
$logo_url: "../img/d’Perfume.png";
$logo-width: 128px !default;
$logo-height: 38px !default;
$logow_url: "../img/d’Perfumew.png";


// banner
$banner_url: "../img/banner.png";
$banner_height: 870px !default;